@mixin animation($transitionName: 'tooltip' ) {
  .#{$transitionName}-enter-active {
    transition: transform 0.2s ease-out, opacity 0.1s ease-out;
  }

  .#{$transitionName}-leave-active {
    transition: transform 0.15s ease-in, opacity 0.1s ease-out;
  }

  .#{$transitionName}-enter-from {
    transition: none;
  }

  .#{$transitionName}-enter-from,
  .#{$transitionName}-leave-to {
    transform: translateY(-20px) scale(0.96);
    opacity: 0;
  }
}
