@use "sass:list";
@use "./mixins" as *;

@mixin tooltip(
  $color: white,
  $padding: 0,
  $shadow: none,
  $arrow-width: 13px,
  $arrow-height: 6px,
  $arrow-border-offset: 2px,
  $selector: '.tooltip',
  $background-color: #434343,
  $border-color: null,
) {
  $arrow-size: ($arrow-width, $arrow-height);

  #{$selector} {
    background-color: $background-color;
    color: $color;
    padding: $padding;
    border-radius: 4px;
    box-shadow: $shadow;
    @if $border-color {
      border: 1px solid $border-color;
    }
  }

  [data-tooltip-placement] {
    .__arrow {
      position: absolute;

      &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        display: block;
      }

      @if $border-color {
        &::before {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          display: block;
        }
      }
    }
  }

  [data-tooltip-placement^="top"] {
    #{$selector} + .__arrow {
      width: $arrow-width;
      height: $arrow-height;
      bottom: -#{$arrow-height - 1px};

      &::after {
        @include triangle($arrow-size, $background-color, down);
        @if $border-color {
          transform: translateY(-#{$arrow-border-offset});
        }
      }

      @if $border-color {
        &::before {
          @include triangle($arrow-size, $border-color, down);
        }
      }
    }
  }

  [data-tooltip-placement^="bottom"] {
    #{$selector} + .__arrow {
      width: $arrow-width;
      height: $arrow-height;
      top: -#{$arrow-height - 1px};

      &::after {
        @include triangle($arrow-size, $background-color, up);
        @if $border-color {
          transform: translateY(#{$arrow-border-offset});
        }
      }

      @if $border-color {
        &::before {
          @include triangle($arrow-size, $border-color, up);
        }
      }
    }
  }

  [data-tooltip-placement^="left"] {
    #{$selector} + .__arrow {
      right: -#{$arrow-height - 1px};
      width: $arrow-height;
      height: $arrow-width;

      &::after {
        @include triangle($arrow-size, $background-color, right);
        @if $border-color {
          transform: translateX(-#{$arrow-border-offset});
        }
      }

      @if $border-color {
        &::before {
          @include triangle($arrow-size, $border-color, right);
        }
      }
    }
  }

  [data-tooltip-placement^="right"] {
    #{$selector} + .__arrow {
      left: -#{$arrow-height - 1px};
      width: $arrow-height;
      height: $arrow-width;

      &::after {
        @include triangle($arrow-size, $background-color, left);
        @if $border-color {
          transform: translateX(#{$arrow-border-offset});
        }
      }

      @if $border-color {
        &::before {
          @include triangle($arrow-size, $border-color, left);
        }
      }
    }
  }
}

