/* Modal Animation */
.muku-modal-enter-active {
    transition: transform 0.4s ease-out, opacity 0.3s ease-out;
}

.muku-modal-leave-active {
    transition: transform 0.35s ease-in, opacity 0.28s ease-out;
}

.muku-modal-enter-from,
.muku-modal-leave-to {
    transform: translateY(-30px) scale(0.96);
    opacity: 0;
}

/* Backdrop Animation */
.muku-modal-backdrop-enter-active {
    transition: opacity 0.35s ease-out;
}

.muku-modal-backdrop-leave-active {
    transition: opacity 0.35s ease-in;
}

.muku-modal-backdrop-enter-from,
.muku-modal-backdrop-leave-to {
    opacity: 0;
}
